.footer {
    background-color: #2c3e50;
    padding-top: 40px;
    margin: 0;
}

.p {
    background-color: #1a252f;
    padding: 10px ;
    p {
        padding-top: 10px;
    }
}

.icon {
    border:  1px white solid;
    border-radius: 50%;
    padding: 10px;
    box-sizing: border-box;
}